<!--div class="form-container"-->
<h2 mat-dialog-title>Create Zone</h2>

<mat-dialog-content id="div-form-fields">
  <mat-divider></mat-divider>

  <span class="field-value-label" >Zone Label</span>
  <input mat-form-field class="field-value-input" [(ngModel)]="zoneLabel" >
  <br>


  <div class="div-row-labels">
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let rowSeat of rowsSeat" [selectable]="selectable"
                 [removable]="removable" (removed)="removeRow(rowSeat)">
          {{rowSeat.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New Row..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addRow($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>

  <div class="row-length">
    <span class="field-value-label">Row Length</span>
    <input mat-form-field class="field-value-input" [(ngModel)]="rowLength" >
  </div>

  <div mat-dialog-actions class="div-generic-flex-row" align="end">
    <button mat-raised-button color="basic" mat-button (click)="onCancel()">Cancel </button>
    <button mat-raised-button color="accent" mat-button [mat-dialog-close]="1" (click)="onValidate()">Ok </button>
  </div>

</mat-dialog-content>
