.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mat-dialog-container {
  padding-top:0;
  padding-left:24px;
  padding-right:24px;
  overflow: hidden;
}

.mat-dialog-title {
  color: #3f5476;
}


.mat-dialog-actions {
  background-color: white;
}

.sticky-actions {
  background-color: white;
   position: sticky;
   bottom: 0;
}

#div-form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 0.2em;
  padding-bottom: 1em;
  overflow: auto;
}

.div-form-line {
  display: flex;
  flex-direction: row;
  padding: 0.4em;

}
.example-chip-list {
  width: 100%;
}

.div-field-name {
 flex: 2;
 display: inline-flex;
 flex-direction: row;
 overflow: hidden;
 text-overflow: ellipsis;
}

.mandatory-mark {
  color: red;
  display: flex;
  height:100%;
  align-items: center;
  font-weight: bold;
}

.field-name {
  display: flex;
  height:100%;
  align-items: center;
  font-weight: bold;
}
.div-field-value {
  flex: 3;
  margin-left: 1em;
}

.field-value-input,
.field-value-textarea {
  width: 90%;
  background-color:#d7dff7;
  padding: 10px;
}

.mat-select {
  width: 90%;
  padding: 10px;

  border-style: solid;
  border-width: 1px;
}

