<mat-tab-group>
  <mat-tab label="Main Deck"> <app-deck-map deckName='Main Deck'></app-deck-map> </mat-tab>
  <mat-tab label="Upper Deck"> <app-deck-map deckName='Upper Deck'></app-deck-map> </mat-tab>
</mat-tab-group>
