.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mat-form-field {
  width: 75px;
}

table {
  width:100%;
  margin: auto;
  border-collapse: collapse;
}

table, td {
  border: 3px solid #bac4ea;
  padding: 5px;

}
td{
  background-color: #d7dff7;
}
th{
  color: #054271;

  font-size: 18px;
  font-weight: 400 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 10px;
}

button{
  margin: 2px;
}

.zone_description{
  margin-top: 5px;
  text-align: center;
}

.mat-dialog-container {
  padding-top:0;
  padding-left:24px;
  padding-right:24px;
  overflow: hidden;
}
.mat-divider{
  margin-top: 10px;
}
.mat-dialog-title {
  color: #3f5476;
}


.mat-dialog-actions {
  background-color: white;
}

.sticky-actions {
  background-color: white;
   position: sticky;
   bottom: 0;
}

#div-form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 0.2em;
  padding-bottom: 1em;
  overflow: auto;
}

.div-form-line {
  display: flex;
  flex-direction: row;
  padding: 0.4em;

}
.example-chip-list {
  width: 200px !important;
  height: max-content;
}
.chip-column{

}

.div-field-name {
 flex: 2;
 display: inline-flex;
 flex-direction: row;
 overflow: hidden;
 text-overflow: ellipsis;
}

.mandatory-mark {
  color: red;
  display: flex;
  height:100%;
  align-items: center;
  font-weight: bold;
}

.field-name {
  display: flex;
  height:100%;
  align-items: center;
  font-weight: bold;
}
.div-field-value {
  flex: 3;
  margin-left: 1em;
}

.field-value-input,
.field-value-textarea {
  width: 100px;
  background-color:#d7dff7;
  padding: 10px;
  margin:5px;
}

.mat-select {
  width: 90%;
  padding: 10px;

  border-style: solid;
  border-width: 1px;
}

