<!--div class="form-container"-->
<h2 mat-dialog-title>{{deckName}}</h2>

<div align="start">
  <button mat-raised-button color="basic" mat-button (click)="createZone()">Add New Zone </button>
  <button mat-raised-button color="accent" mat-button  (click)="onValidate()">Save </button>
</div>
<mat-divider></mat-divider>



  <div class="zone_description">


    <table>
       <thead>
          <tr>
              <th>Zone Label</th>
              <th>Range</th>
              <th>Class selection</th>
              <th colspan="3">Rows Defition</th>
              <th>Rows Exclusion</th>
              <th>Tools</th>
          </tr>


       </thead>
       <tbody>
           <tr *ngFor="let zone of zoneList">
             <td>
              <input (change)="nameChanged(zone)" mat-form-field class="field-value-input" [(ngModel)]="zone.zoneLabel" >
             </td>

             <td >
              <input  style="width: 40px;" (change)="rangeChanged(zone)" mat-form-field type="number" min="0" class="field-value-input" [(ngModel)]="zone.rowStart" >
              <a>To</a>
              <input style="width: 40px;" (change)="rangeChanged(zone)" mat-form-field type="number" min="0" class="field-value-input" [(ngModel)]="zone.rowEnd" >
             </td>

             <td>
                <mat-form-field>
                  <select matNativeControl required>
                    <option value="first">First</option>
                    <option value="Business">Business</option>
                    <option value="Premium">Premium</option>
                    <option value="Economy">Economy</option>
                  </select>
                </mat-form-field>
             </td>

             <td class="chip-column">
              <mat-form-field class="example-full-width">
                <mat-label>Left</mat-label>
                <input #leftRow (change)="rowListChanged(zone,leftRow.value,zone.rowsSeatsListLeft,'L')" matInput placeholder="A,B,C" >
              </mat-form-field>
            </td>
             <td class="chip-column">
              <mat-form-field class="example-full-width">
                <mat-label>Center</mat-label>
                <input #centerRow (change)="rowListChanged(zone,centerRow.value,zone.rowsSeatsListCenter,'C')" matInput placeholder="A,B,C" >
              </mat-form-field>
            </td>
             <td class="chip-column">
              <mat-form-field class="example-full-width">
                <mat-label>Right</mat-label>
                <input #rightRow (change)="rowListChanged(zone,rightRow.value,zone.rowsSeatsListRight,'R')" matInput placeholder="A,B,C" >
              </mat-form-field>
            </td>

             <td class="chip-column">

              <mat-form-field class="example-full-width">
                <mat-label>Excluded</mat-label>
                <input matInput placeholder="1,13,6" >
              </mat-form-field>
              <!--<mat-form-field class="example-chip-list">
                <mat-chip-list (focusout)="focusOutFunction()" #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let element of zone.excludedSeats" [selectable]="selectable"
                           [removable]="removable" (removed)="removeRow(element,zone.excludedSeats,false,zone)">
                    {{element}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input (focusout)="focusOutFunction()" placeholder="Excluded rows"
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="addRow($event,zone.excludedSeats)"
                         >
                </mat-chip-list>
              </mat-form-field>-->
             </td>
             <td>
              <div align="end">
                <button mat-raised-button color="accent" mat-button (click)="duplicateZone(zone)"><span class="material-icons">
                  file_copy
                  </span> </button>
                <button mat-raised-button color="accent" mat-button (click)="deleteZone(zone)"><span class="material-icons">
                  delete
                  </span> </button>

              </div>
             </td>
         </tr>
       </tbody>
   </table>







 <!--   <mat-divider></mat-divider>
  <span class="field-value-label" >Zone Label :</span>
  <input (change)="nameChanged(zone)" mat-form-field class="field-value-input" [(ngModel)]="zone.zoneLabel" >
  <br>

  <h4>Rows Definition</h4>
  <table>
     <thead>
       <tr>
            <th colspan="3">Rows Definition</th>
        </tr>
      </thead>
   <tbody>
        <tr>
          <td><mat-form-field class="example-chip-list">
            <mat-chip-list (focusout)="focusOutFunction()" #rowListRight aria-label="Fruit selection">
              <mat-chip *ngFor="let element of zone.rowsSeatsListRight" [selectable]="selectable"
                       [removable]="removable" (removed)="removeRow(element,zone.rowsSeatsListRight,true,zone)">
                {{element.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input (focusout)="focusOutFunction()" placeholder="Right"
                     [matChipInputFor]="rowListRight"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addRowSeat($event,zone.rowsSeatsListRight,zone)"
                     >
            </mat-chip-list>
          </mat-form-field></td>
          <td><mat-form-field class="example-chip-list">
            <mat-chip-list (focusout)="focusOutFunction()" #rowListCenter aria-label="Fruit selection">
              <mat-chip *ngFor="let element of zone.rowsSeatsListCenter" [selectable]="selectable"
                       [removable]="removable" (removed)="removeRow(element,zone.rowsSeatsListCenter,true,zone)">
                {{element.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input (focusout)="focusOutFunction()" placeholder="Center"
                     [matChipInputFor]="rowListCenter"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addRowSeat($event,zone.rowsSeatsListCenter,zone)"
                     >
            </mat-chip-list>
          </mat-form-field></td>
          <td><mat-form-field class="example-chip-list">
            <mat-chip-list (focusout)="focusOutFunction()" #rowListLeft aria-label="Fruit selection">
              <mat-chip *ngFor="let element of zone.rowsSeatsListLeft" [selectable]="selectable"
                       [removable]="removable" (removed)="removeRow(element,zone.rowsSeatsListLeft,true,zone)">
                {{element.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input (focusout)="focusOutFunction()" placeholder="Left"
                     [matChipInputFor]="rowListLeft"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addRowSeat($event,zone.rowsSeatsListLeft,zone)"
                     >
            </mat-chip-list>
          </mat-form-field></td>
      </tr>
    </tbody>
</table>

  <div class="div-row-labels">

  </div> -->

  <!--<span class="field-value-label" >Front length :</span>
  <input mat-form-field type="number" min="0" class="field-value-input" [(ngModel)]="zone.rowLength" >
  <br>-->

  <!--<span class="field-value-label" >Range :</span>
  <input (change)="rangeChanged(zone)" mat-form-field type="number" min="0" class="field-value-input" [(ngModel)]="zone.rowStart" >
  <a>To</a>
  <input (change)="rangeChanged(zone)" mat-form-field type="number" min="0" class="field-value-input" [(ngModel)]="zone.rowEnd" >
  <br>




  <div class="div-row-labels">
    <mat-form-field class="example-chip-list">
      <mat-chip-list (focusout)="focusOutFunction()" #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let element of zone.excludedSeats" [selectable]="selectable"
                 [removable]="removable" (removed)="removeRow(element,zone.excludedSeats,false,zone)">
          {{element}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input (focusout)="focusOutFunction()" placeholder="Excluded rows"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addRow($event,zone.excludedSeats)"
               >
      </mat-chip-list>
    </mat-form-field>
  </div>

  <h4>Class selection</h4>
<mat-form-field>
  <mat-label>Classes</mat-label>
  <select matNativeControl required>
    <option value="first">First</option>
    <option value="bus">Business</option>
    <option value="prem">Premium</option>
    <option value="eco">Economy</option>
  </select>
</mat-form-field>-->


<br>
<br>
</div>

  <div mat-dialog-actions class="div-generic-flex-row" align="end">

  </div>

