.mat-table {
  width: fit-content;
  display: inline-block;
}

.header-buis{
  height: 30px !important;

}
.cell-buis{
  height: 15px !important;
  font-size: 10px;

}

.spliter-div{
  width: 50%;
  display: inline-block;
}




.mat-cell-seat-free{
  width: fit-content;
  background-color: lightgreen;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center !important;
}

.mat-cell-seat-occup{
  width: fit-content;
  background-color: lightcoral;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center !important;
}

.mat-header-cell{
  width: fit-content;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center !important;
}

.mat-cell .column-separator{
  background: gray !important;
}
.column-separator:hover {
  background: gray !important;
}

.mat-cell:hover{
  background-color: lightcoral;
}
.separator {
  background: gray;
}

.example-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}


.exitSign {
  width: 30PX;
  height: 50PX;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  text-orientation: upright;
  position: absolute;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.exitSign:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}



.mat-raised-button{
  padding: 2px;
  margin: 8px;
}
