

<div align="end">
  <div align="end" class="spliter-div">
    <app-deck-form></app-deck-form>
  </div>


  <div align="end" class="spliter-div">
    <div *ngFor="let zone of zoneList" class="deck-map">
      <a>{{zone.zoneLabel}}</a>
      <button mat-raised-button color="basic" mat-button (click)="deleteZone(zone)">Delete Zone </button>
      <button mat-raised-button color="basic" mat-button (click)="editZone(zone)">Edit Zone </button>
      <button mat-raised-button color="basic" mat-button (click)="createZone()">Define Class </button>

      <button mat-raised-button color="basic" mat-button (click)="createExitSign(zone.zoneLabel)">Add Exit </button>
      <div class="seat-map">
        <div  class="exitSign" *ngFor="let exitSign of signlist;" cdkDragBoundary=".seat-map"  (cdkDragEnded)="dragEnd($event)" cdkDrag>
          EXIT
        </div>
        <table  [style.left.px]="initialPosition.x" [style.top.px]="initialPosition.y"
          mat-table *ngFor="let rowSeat of zone.rowsSeatsList;"  [dataSource]="getDataSource(zone.zoneLabel+rowSeat.name)"
          class="mat-elevation-z4"  (cdkDragEnded)="dragEnd($event)" matSort cdkDragLockAxis="x" cdkDrag cdkDragBoundary=".seat-map">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container [matColumnDef]="rowSeat.name"  >
            <th  mat-header-cell *matHeaderCellDef cdkDragHandle  > {{rowSeat.name}} </th>
            <td  mat-cell *matCellDef="let element" [ngClass]="element.status?'mat-cell-seat-occup':'mat-cell-seat-free'" (click)="seatChangeStatus(element)" >  <span class="cell-span-value">{{element.text}}</span>
            </td>
          </ng-container>


            <tr class="header-buis" mat-header-row *matHeaderRowDef="[rowSeat.name]; sticky: false"></tr>
            <tr class="cell-buis" mat-row *matRowDef="let row; columns: [rowSeat.name];" ></tr>


        </table>

      </div>
    </div>
  </div>
</div>



<button mat-raised-button color="basic" *ngIf="zoneList.length>0" mat-button (click)="saveDeck('Main Deck')">Save Deck </button>


