@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-embross-blue: (
    50 : #62afea,
    100 : #1f8de1,
    200 : #186eb0,
    300 : #0f4771,
    400 : #0c3656,
    500 : #08253b,
    600 : #041420,
    700 : #010305,
    800 : #000000,
    900 : #000000,
    A100 : #43aeff,
    A200 : #007ddc,
    A400 : #054271,
    A700 : #093354,
    contrast: (
        50 : #000000,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-embross-pink: (
    50 : #fae7e9,
    100 : #f4c3c9,
    200 : #ec9ba5,
    300 : #e47381,
    400 : #df5566,
    500 : #d9374b,
    600 : #d53144,
    700 : #cf2a3b,
    800 : #ca2333,
    900 : #c01623,
    A100 : #fff2f3,
    A200 : #ffbfc3,
    A400 : #ff8c94,
    A700 : #ff737c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-embross-gray: (
    50 : #ced2e1,
    100 : #9ea6c3,
    200 : #7c86ae,
    300 : #56618c,
    400 : #4b5479,
    500 : #3f4766,
    600 : #333a53,
    700 : #282d40,
    800 : #1c1f2d,
    900 : #10121a,
    A100 : #bac4ea,
    A200 : #6c81d2,
    A400 : #425396,
    A700 : #444f7b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-green: (
    50 : #e7efe4,
    100 : #c3d6bb,
    200 : #9cbb8e,
    300 : #749f61,
    400 : #568b3f,
    500 : #38761d,
    600 : #326e1a,
    700 : #2b6315,
    800 : #245911,
    900 : #17460a,
    A100 : #94ff7d,
    A200 : #6aff4a,
    A400 : #40ff17,
    A700 : #2dfc00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-brs-explorer-primary: mat-palette($md-embross-blue, 500);
$angular-brs-explorer-accent:  mat-palette($md-embross-gray, 300);

// The warn palette is optional (defaults to red).
$angular-brs-explorer-warn: mat-palette($md-embross-pink, 500);

// The warn palette is optional (defaults to red).
$angular-brs-explorer-success: mat-palette($md-green, 300);

// Create the theme object (a Sass map containing all of the palettes).
$angular-brs-explorer-theme: mat-light-theme($angular-brs-explorer-primary, $angular-brs-explorer-accent, $angular-brs-explorer-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-brs-explorer-theme);

