/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.error_snackbar{
  background : rgb(221, 77, 77);
  color: white;
}

.warning_snackbar{
  background : rgb(221, 163, 77);
  color: white;
}

.free_snackbar{
  background : rgb(101, 221, 77);
  color: black;
}
